<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      <form class="form-group" action="/user/login" method="post">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            <label> <small>Username</small> </label>
            <input type="text" name="username" class='form-control'>
            <label> <small>Password</small> </label>
            <input type="text" name="password" class="form-control">
          </div>
          <div class="card-footer">
            <input type="submit" class='btn btn-success float-right' value='Login'>
          </div>
        </div>
      </form>
    </div>
    <div class="col">

    </div>
  </div>
</div>
