<div class="container">
  <div class="form-group">
    <form class="form-group" action="/customer/new" method="post">
      <div class="form-group">
        <label for="company">Company</label>
        <input type="text" required class='form-control mb-3' name="company" id='company' >
      </div>
      <div class="form-group">
        <label for="contact">Contact</label>
        <input type="text" required class='form-control mb-3' id='contact' name="contact" >
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel" required class='form-control mb-3' id='phone' name="phone" >
      </div>
      <div class="form-group">
        <label for="paypal">Paypal Email</label>
        <input type="text" required class='form-control mb-3' id='paypal' name="paypal" >
      </div>
      <div class="form-group">
        <label for="facebook">Facebook URL</label>
        <small id="fb_help" class="float-right form-text text-muted">dont forget the http:// !</small>
        <input type="text" class='form-control mb-3' id='facebook' name="facebook" >
      </div>
      <div class="form-group">
        <label for="website">Website URL</label>
        <small id="web_help" class="float-right form-text text-muted">dont forget the http:// !</small>
        <input type="text" class='form-control mb-3' id='website' name="website" >
      </div>
        <input type="submit" class='form-control btn  btn-success float-right mb-3' name="submit" value="Submit">
    </form>
  </div>
</div>
